@import 'bower_components/newsapps-styles/init-helpers';

@import 'base';

.container{
  width: 96%;
  max-width:960px;
  margin: 0 auto;
}
/* When making style changes to override timeline, put in importants */
